* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif !important;
}


/* Second Nav  */

.second_nav {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background: #394146;
}
.second_nav .name {
    font-weight: 500;
    font-size: 9px;
    color: #ffffff;
}
.second_nav .name a:hover {
    color: #3c74a9;

}
.second_nav .name a  {
    font-weight: 600;
    font-size: 13px;
    color: #ffffff;
}

.second_nav .social {
    font-weight: 600;
    text-align: 15px;
    justify-content: center;
    justify-content: space-evenly;
}
.second_nav .social a {
    color: #ffffff;
}
.second_nav .social a:hover {
    color: #3c74a9;
}

/* End Second Nav  */

/* ################################################################ */

/* Nav main */

.nav_main {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    /* background: rgba(203, 40, 40, 0.2); */
    background:rgba(#b5d1f5, 0, 0, 0.8);
}

.logo {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color:#3c74a9;
    cursor: pointer;
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
}

.register a,button {
    font-size: 16px;
    font-weight: 500;
    color: #2c3e50;
    text-decoration: none;
    cursor: pointer;
}
.register button {
    /* background: rgba(255, 255, 255, 0.2); */
    border: 2px solid #2c3e50;
    border-radius: 50px;
    padding: 9px 25px;
    border: none;
}
nav a {
    font-size: 16px;
    font-weight: 500;
    color: #2c3e50;
    text-decoration: none;
    cursor: pointer;
}
nav li a:hover {
    color: #3c74a9;
    transition: all 0.3 ease 0s;
}
.register button:hover {
    background-color: #3498db;
    transition: all 0.3 ease 0s;
}
.register #SignUp  {
    background-color: #3498db;
}

/* End Nav main */

/* ################################################################ */

/*  Header + Slider  */

.header {
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}

.slider {
    position: relative;
    width: 95vw;
    margin: auto;
    background: #2c3e50;
    display: block;
}
.myslider {
    height: 80vh;
    display: none;
    overflow: hidden;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    transition: 0.1s;
    user-select: none;
}

.prev:hover, .next:hover {
    color: #3498db;
}
.next {
    right: 0;
}
.dotsbox {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom:20px;
    cursor: pointer;
}
.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid rgb(56, 158, 155);
    margin : 0 10px;
    cursor: pointer;
    border-radius: 50%;
}
.active, .dot:hover {
    border-color: #3498db;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    form {opacity: 0.8}
    to {opacity: 1}
    
}
@keyframes fade {
    form {opacity: 0.8}
    to {opacity: 1}
    
}

.txt {
    position: absolute;
    color: #3c74a9;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
    line-height: 35px;
    top: 40%;
    left: 15%;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 2s;
    animation-name: posi;
    animation-duration: 2s;
    z-index: 1;
}



.txt .one h2  {
    color: #fff;
}

@-webkit-keyframes posi {
    form {left: 25%;}
    to {left: 15%;}
}
@keyframes posi {
    form {left: 25%;}
    to {left: 15%;}
}

.txt h1 {
    color: #2c3e50;
    font-weight: bold;
    margin-bottom: 20px;
}
.txt p {
    font-weight: bold;
    font-size: 20px;
}
.txt button {

    background: white;
    padding: 10px 17px;
    font-size: 16px;
    font-weight: bold;
    color: #111111;
    border: none;
    outline: none;
    box-shadow: 0px 16px 32px 0px rgb(0 0 0 / 6%);
    margin-right: 20px;
    margin-top: 10px;
}

.txt button:hover {
    background-color: #608ea5;
    color: white;
    transition: .3s;
    cursor: pointer;
}

img {
    transform: scale(1.5, 1.5);
    -webkit-animation-name:zoomIn;
    -webkit-animation-duration: 20s;
    animation-name:zoomIn;
    animation-duration: 20s;
}

@-webkit-keyframes zoomIn {
    form {transform: scale(1, 1);}
    to {transform: scale(1.5, 1.5);}
}
@keyframes zoomIn {
    form {transform: scale(1, 1);}
    to {transform: scale(1.5, 1.5);}
}

@media screen and (max-width: 800px) {
    .myslider {
        height: 500px;
    }
    .txt {
        line-height: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi2;
        -webkit-animation-duration: 2s;
        animation-name: posi2;
        animation-duration: 2s;
    }
    @-webkit-keyframes posi2 {
        form {top: 35%;}
        to {top: 50%;}
    }
    @keyframes posi2 {
        form {top: 35%;}
        to {top: 50%;}
    }
    .txt h1 {
        font-size:40px;
    }
    .txt p {
        font-size:13px;
    }
}

@media screen and (max-width: 520px) {

    .txt h1 {
        font-size:30px ;
    }
}

/*  End Header + Slider  */

/* ################################################################ */


 /* Scroll UP */

 .up {
    position: fixed;
    bottom: 100px;
    right: -70px;
    background-color: #206A5D;
    color: #DDD;
    font-weight: bold;
    font-size: 20px;
    padding: 7px;
    border-radius: 4px;
    font-family: Arial,Tahoma;
    cursor: pointer;

 }

 .up img{
    width: 100px;
    height: 70px;

 }

 .up.show {
    right: 35px;
 }
  /* End Scroll UP */



   /* Scroll bar */

 ::-webkit-scrollbar {
    width: 7px;
 }
 ::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    box-shadow: 0,0,10px,#DDD inset;
 }
 ::-webkit-scrollbar-thumb {
    background-color: #206A5D;
    border-radius: 0px;
 }
 ::-webkit-scrollbar-thumb:hover {
    background-color: #1F4068;
 }

  /* End Scroll bar */

  /* ################################################################ */


  
/* ONE */


.box_brieff {
    width: 1170px;
    margin: 2% 19.5%;
}
.icon_breif {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 50%;
    margin-bottom: 25px;
}
.icon_breif:hover {
    background: #000;
}
.icon_breif i {
    color: #000;
    padding: 18px 0;
    font-size: 18px;
}
.icon_breif i:hover {
    color: #ffffff;
}
.single_brief h2 {
    margin-bottom: 5px;
    font-size: 15px;
    font-family:poppins;
    text-transform: uppercase;
}
.single_brief p {
    font-size: 14px;
    font-family:poppins;
}
.single_brief {
    width: 25%;
    float: left;
    border-radius: 0;
    background: #568f84;
    /* box-shadow: 5px 5px 5px #489dcf; */
    margin: 0 7px;
    text-align: center;
    padding: 30px;
    color: #fff;
}
.single_brief:hover {
    background:#406a62;
    color: #fff;
}



/* ONE */

/* ################################################################ */

/*  About Dr */

.about_dr {
    height: 100vh;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_dr img {
    width: 450px;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
}
.all-text {
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
}
.main_dr {
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.all-text h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #777777;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 10px;
}
.all-text h1 {
    font-size: 50px;
    color: #111111;
    font-weight: 700;
    margin-bottom: 20px;
}
.all-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #777777;
    line-height: 30px;
    margin-bottom: 35px;
}
.btn_dr button {
    background: white;
    padding: 20px 32px;
    font-size: 16px;
    font-weight: bold;
    color: #111111;
    border: none;
    outline: none;
    box-shadow: 0px 16px 32px 0px rgb(0 0 0 / 6%);
    margin-right: 20px;
}
.btn_dr button:hover {
    background-color: #608ea5;
    color: white;
    transition: .3s;
    cursor: pointer;
}

.btn_dr .btn2 {
    background-color: #111111;
    color: white;
}

@media screen and (max-width:1250px) {
    .about_dr {
        height: auto;
        width: 100%;
        padding: 60px 0;
    }
    .all-text {
        text-align: center;
        margin-top: 40px;
    }
}

@media screen and (max-width:650px) {
    .main_dr img  {
        margin-bottom: 35px;
    }
    .all-text h1 {
        font-size: 45px;
        margin-bottom: 20px;
    }
}

/*  About Dr */

/* ################################################################ */

/* Our Vission and Mission  */


.vission {
    display: grid;
    margin-bottom: 60px;
}
.vission_name {
    text-align: center;
    font-size: 25px;
    position: relative;
}
.vission_name h3::after {
    content: "";
    background: #74a7a1;
    width: 200px;
    height: 5px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.vission_name h3 i {
    font-size: 30px;
    color:#74a7a1 ;
}

.vission_body {
    display: grid;
    grid-template-columns: 40% 40%; 
    margin: 10% 0%;
    justify-content: center;
    justify-content: space-evenly;
}

.mission2 {
    display: grid;
    grid-template-columns: 50% 50%; 
    justify-content: space-between;
}

.mission2 .img .one {
    float: left;
}
.mission2 .img .two {
    margin-left: 100%;
}
.mission2 .img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #74a7a1;
}
.mission2 .img img:hover {
    width: 170px;
    height: 170px;
    border: 3px solid #74a7a1;
    transition: .5s;
}
.mission1 {
    margin-top: 50px;
}

.mission1 .part1 {
    margin-bottom: 100px;
}
.mission1 .part1 h2 {
    margin-bottom: 15px;
    color: #74a7a1;
}
.mission1 .part1,.part2 p {
    color: #777777;
}
.mission1 .part2 h2 {
    margin-bottom: 15px;
    color: #74a7a1;
}

/* End Our Vission and Mission  */

/* ################################################################ */


/* Clinic */

.Clinic {
    width: 100%;
    height: 80vh;
    padding: 0 8%;
}

.Clinic h1 {
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}

.Clinic h1::after {
    content: "";
    background: #74a7a1;
    width: 200px;
    height: 5px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px , 1fr));
}

.service {
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s ,background 0.5s;
    margin-right: 7px;
    margin-left: 7px;

}

.service i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #74a7a1;
}

.service h2 {
   font-weight: 600;
   margin-bottom: 8px;
}

.service:hover {
    background: #74a7a1;
    color: rgb(0, 0, 0);
    transform: scale(1);
    opacity: 0.5;
}

.service:hover i  {
    color: #fff;

}

/* End Clinic */

/* ################################################################ */



/* Our Value  */


.cont_value {
    margin-bottom: 100px;
  }


.cont_value h1,h3 {
    text-align: center;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
    color: #608ea5;
}
.cont_value h1 {
    color: #618b86;
}
.cont_value h1::after {
    content: "";
    background: #aad0cb;
    width: 200px;
    height: 5px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.value {
    display: grid;
    grid-template-columns: auto auto ;
    gap: 10px;
}

.product {
    width: 600px;
    height: 250px;
    margin: 20px 70px;
    box-shadow: 0 0 10px #ddd;
    padding: 20px ;
    text-align: center;
    overflow: hidden;
    background-color: #d4e9f7;
}

.product .number {
    background-color: #74a7a1;
    color: #DDD;
    width: 60px;
    height: 60px;
    border-radius:50%;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
    transition: .6s;
}

.product h3 {
    margin: 15px 0 ;
    font-size: 26px;
    transition: .6s;
    text-align: left;
}

.product p {
    line-height: 1.6;
    font-size: 17px;
    transition: .6s;
}

.product:hover .number {
    box-shadow: 0 0 20px 700px #496965;
}

.product:hover h3,
.product:hover p {
    color: #DDD;
}


/* End Our Value  */

/* ################################################################ */



/*  New Patient  */


.container_book {
    margin: 100px 10%;
     }
    .about_book {
        background: url('../img/header/About/NewPatient.jpg') no-repeat left;
        background-size: 55%;
        /* width: 100vw;
        height: 100vh; */
        background-color: #fdfdfd;
        overflow: hidden;
        padding: 100px 0;
    }
    .inner_about {
        width: 55%;
        float: right;
        text-align: center;
        background-color: #74a7a1;
        padding: 40px;
        box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
        opacity: 0.8;
    }
    .inner_about h1 {
        margin-bottom: 10px;
        font-size: 40px;
        font-weight: 900;
    }
    .text {
        font-size: 13px;
        color: #ffffff;
        line-height: 30px;
        text-align: center;
        /* text-align: justify; */
        /* margin-bottom: 40px; */
    }
    .btn_book button {
        font-size: 14px;
        text-align: center;
        letter-spacing: 2px;
        border: none;
        border-radius: 20px;
        padding: 12px 15px;
        width: 150px;
        background-color: #00999c;
        color: white;
        cursor: pointer;
    }
    .btn_book button:hover {
    
        transition: 1s;
        background-color: #ecf5f5;
        color: #00999c;
    }
    
    .inner_about .form {
        width: 200px;
        padding: 1rem 0;
        /* margin: 13% auto; */
        /* background-color: #fff; */
        border-radius: 10px;
        text-align: center;
        margin-left: 34%;
        /* box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1); */
    }
    .inner_about .form input {
        width: 100%;
        outline: none;
        border: 1px solid #fff;
        padding: 12px 15px;
        margin-bottom: 20px;
        border-radius: 20px;
        background: #e4e4e4;
    }
    .old_Patient {
        font-size: 0.8rem;
        margin-top: 1.4rem;
        color: #ffffff;
    }
    
    .old_Patient a {
        color: #000;
        text-decoration: none;
    }
    
    @media screen and (max-width: 1200px) {
        .inner_about {
            padding: 80px;
        } 
    }
    
    @media screen and (max-width: 1100px) {
        .about_book  {
            background-size: 100%;
            padding: 100px 40px;
        } 
        .inner_about {
            width: 100%;
        }
        .inner_about .form {
            margin-left: 34%;
    
        }
    }
    @media screen and (max-width: 900px) {
        .inner_about .form {
            margin-left: 28%;
        }
        .inner_about h1 {
            text-align: center;
        }
    }
    @media screen and (max-width: 750px) {
        .inner_about .form {
            margin-left: 20%;
        }
        .inner_about h1 {
            text-align: center;
        }
    }
    
    @media screen and (max-width: 600px) {
        .about_book  {
            padding: 0;
        } 
        .inner_about {
            padding: 60px;
        }
        .btn_book {
            font-size: 19px;
            padding: 5px;
            width: 160px;
        }
        .inner_about .form {
            margin-left: 15%;
        }
    }
    

/*  End New Patient  */


/* ################################################################ */



/* HAPPY CLIENT */
.happy_client {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px , 2fr));
    justify-content: center;
    grid-gap: 40px;
    margin-left: 200px;
} 

.happy_client .main_client {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
}

.happy_client .main_client h2 {
    font-size: 40px;
}
.happy_client .main_client h2 span {
    color: #74a7a1;
}

.happy_client .main_client h4 {
    font-size: 16px;
}

.happy_client .card {
    width: 270px;
    height: 270px;
    background: rgba(0, 0, 0, 0.1);
    /* box-shadow: 1px 1px 6px #5681b5,
                -1px -1px 6px #74a7a1; */
    border-radius: 20px;
}
/* .happy_client .card:hover {
    width: 290px;
    height: 290px;
    box-shadow: 1px 1px 6px #5681b5,
                -1px -1px 6px #74a7a1;
    border-radius: 20px;
    transition: .5s;
} */

.happy_client .card .card_img img {
    width: 80px;
    height: 80px;
    margin: 50px 0 30px 30%;
    border-radius: 50%;
    /* box-shadow : 0 0 0 3px #ffb108; */
}

#item_color {
    color: #74a7a1;
    margin:0 10px 0 5px;
}

.happy_client .card .para {
    text-align: left;
    letter-spacing: 1.3;
    line-height: 1.2;
    margin: 0 15px;
}

/* HAPPY CLIENT */

/* ################################################################ */




/* Gallery  */

/* Slides Section  */

.container_slide_about {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sliderr {
    width: 50%;
    height: 50vh;
    background:url('../img/header/Happy_Client/men3.jpg');
    margin: 10% 0%;
    animation: slide 10s infinite;
    border-radius: 20px;
}
.sliderr1 {
    margin-left: 30px;
    margin-top: 100px;
}
.sliderr1 h2 {
    font-size: 50px;
    margin-top: 150px;
    color: #608ea5;
}
.sliderr1 p {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.dott span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid rgb(56, 158, 155);
    margin : 0 10px;
    cursor: pointer;
    border-radius: 50%;
}


@keyframes slide {

    25%{
        background:url('../img/header/Happy_Client/girl1.png');
    }
    50%{
        background:url('../img/header/Happy_Client/men1.png');
    }

    75%{
        background:url('../img/header/Happy_Client/girl2.png');
    }
    100%{
        background:url('../img/header/Happy_Client/men2.jpg');
    }
}

@media screen and (max-width: 900px) {
    .container_slide_about {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .sliderr {
        width: 80vw;
        margin: 0 10%;
    }
    .sliderr1 {
       text-align: center;
    }
    .dott span{
        margin-bottom: 30px;
    }
    
}


/* End Slides Section  */

/* ################################################################ */



/* Call to Action */

.cta {
    margin: 100px auto;
    width: 80%;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../img/header/callToAction.jpg');
    background-position:center;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
.cta h1 span {
    color:#74a7a1;
    
}

.cta .action_btn {
    background: white;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #111111;
    border: none;
    outline: none;
    box-shadow: 0px 16px 32px 0px rgb(0 0 0 / 6%);
    margin-right: 20px;
    text-decoration: none;
}

.cta .action_btn:hover {
    background-color: #608ea5;
    color: white;
    transition: .3s;
    cursor: pointer;
}
@media screen and (max-width: 700px) {
    .cta h1 {
       font-size:24px ;
    }
    
}
/* Call to Action */

/* ################################################################ */

  /* Google Map */
  .map {
    width: 90%;
    height: 60vh;
    border-radius: 20px;
    margin: 20px auto;
}

  /* Google Map */

/* ################################################################ */

/* Footer  */

.footer {
    background-color: #24262b;
    padding: 70px 0;
    font-family: 'Poppins', sans-serif;
}

.cont_footer {
    max-width: 1170px;
    margin: auto;
}
.row_footer {
    display: flex;
    flex-wrap: wrap;
}

.col_footer {
    width: 25%;
    padding: 0 15px;
}

.col_footer h4 {
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.col_footer h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #5d85b7;
    box-sizing: border-box;
    height: 2px;
    width: 50px;
}
.col_footer ul {
    list-style: none;
}
.col_footer ul li:not(:last-child) {
    margin-bottom: 10px;
}
.col_footer ul li a {
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    /* color: #ffffff; */
    font-weight: 300;
    display: block;
    color: #bbbbbb;
    transition: 0.3s;
}

.col_footer ul li a:hover {
    color:#ffffff;
    padding-left: 7px;
}

.col_footer ul li span {
    font-size: 9px;
    margin-left: 10px;
    text-transform: uppercase;
}
.col_footer .socail_footer a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px ;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
}

.col_footer .socail_footer a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.col_footer .qouat_footer {
    margin-top: 30px;
    color:#ffffff ;
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 1.8;
    line-height: 1.5;
    font-family: 'Grey Qo', cursive;
}

.col_footer .qouat_footer span {
    color: #26e5c2;
    font-size: x-large;
}

@media (max-width:767px) {
    .col_footer {
        width: 50%;
        margin-bottom: 30px;  
  }
}
@media (max-width:574px) {
    .col_footer {
        width: 100%;
  }
}

.footer-botoom {
    text-align: center;
    width: 99.5vw;
    padding: 10px 0;
    font-size: 13px;
    text-transform: capitalize;
    word-spacing: 5px;
    font-family: 'Poppins', sans-serif;
    background-color: #24262b;
    color: #ffffff;
}

.footer-botoom span {
    text-transform: uppercase;
    opacity: 2;
    font-weight: 700;
    font-size:smaller;
    font-family: 'Annie Use Your Telescope', cursive;
    color: #348677;
}

/* End Footer  */

/* ################################################################ */
